/* Typografi */

@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --BackgroundWhite: rgba(254, 245, 255, 1);
  --PalePink: rgba(241, 217, 222, 1);
  --FreshMint: rgba(202, 233, 140, 1);
  --SweetPurple: rgba(159, 107, 160, 1);

  --smSpacer: 15px;
  --stdSpacer: 20px;
  --lgSpacer: 40px;

  /* Hvad skal de her bruges til? */

  --font-size-small: 0.8rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2.5rem;
}

/* General styling */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oooh Baby", sans-serif;
}

p {
  font-family: "EB Garamond", serif;
  line-height: 1.5;
  max-width: 65ch;
}

/**********
/* INDEX */
/**********/

/* Header + navbar */

.hero {
  background-image: linear-gradient(
      rgba(159, 107, 160, 1),
      rgba(229, 229, 229, 0)
    ),
    url(../img/COLOURBOX29693617.jpg);
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oooh Baby", sans-serif;
  font-size: 5rem;
  color: rgb(0, 0, 0);
  z-index: 5;
}

.heroTitle {
  position: relative;
  text-align: center;
}

.navbar {
  position: absolute;
  top: 0;
  width: 100%;
  padding: var(--smSpacer);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(254, 245, 255, 0.359);
  backdrop-filter: blur(2px);
}

.navbarLinks {
  display: flex;
  align-items: center;
  list-style: none;
  padding: var(--stdSpacer);
}

.navbarLinks li a {
  text-decoration: none;
  justify-content: space-between;
  padding: var(--stdSpacer);
  color: black;
  transition: color 0.3s ease, border-bottom 0.3s ease;
}
.navbarLinks li a:hover {
  color: var(--SweetPurple);
  border-bottom: 2px solid var(--SweetPurple);
}

.navbarLinks li.active a {
  font-weight: bold;
}

.søgefelt input {
  font-family: "EB Garamond", serif;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border: 1px solid #520069a4;
  border-radius: 100px;
  width: 170px;
}

/* Main */

.intro {
  font-size: var(--font-size-xlarge);
  margin-top: var(--lgSpacer);
  margin-bottom: var(--smSpacer) 0;
  padding-left: var(--lgSpacer);
}
p {
  font-size: var(--font-size-normal);
  padding-left: var(--lgSpacer);
}

h2,
h3 {
  font-size: var(--font-size-large);
  margin-bottom: var(--smSpacer);
  padding-left: var(--lgSpacer);
}

.signup {
  display: flex;
  justify-content: space-evenly;
}

.signupText {
  flex: 2;
  width: 500px;
}
.signupText h2 {
  margin-bottom: 1rem;
  font-size: var(--font-size-xlarge);
}

.signupText p {
  font-size: 1rem;
  margin-bottom: 0;
}

.signupButtons {
  padding-top: 30px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.signupButtons button {
  font-size: 1.1rem;
  font-family: "EB Garamond", serif;
  margin-left: 50px;
  padding: 0.4rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 350px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
  transition: all 0.3s ease;
}

.signInButton {
  background-color: var(--FreshMint);
  color: rgb(0, 0, 0);
}

.LoginButton {
  background-color: var(--SweetPurple);
  color: white;
}

.signupButtons button:hover {
  scale: 1.09;
}

.slideshowContainer {
  padding-top: var(--lgSpacer);
}

.slideshowContainer h3 {
  font-size: var(--font-size-xlarge);
}

/* Footer */

footer {
  display: flex;
  background-color: var(--PalePink);
  padding: var(--lgSpacer) 0;
  justify-content: center;
}

/**********
/* SAESON SAMLING */
/**********/

.collectionsTitle {
  font-size: var(--font-size-xlarge);
  margin-top: var(--lgSpacer);
  margin-bottom: var(--smSpacer);
  padding-left: var(--lgSpacer);
}

.allRecipes {
  display: grid;
  grid-template-columns: 1fr 3fr;
}


.recipeCards {
  margin: var(--lgSpacer);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
.recipe img {
  display: block;
  margin: 0 auto 1rem auto;
  max-width: 100%;
  height: auto;
  border: 1px solid var(--SweetPurple);
}

/* Filterfelt */

.filterBox {
  background-color: var(--PalePink);
  padding: var(--lgSpacer);
  margin: var(--lgSpacer);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

.filterBox h3 {
  margin-bottom: 1rem;
}

.filterBox h4 {
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--SweetPurple);
}

.filterBox label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.filterBox input[type="checkbox"] {
  margin-right: 0.5rem;
  transform: scale(1.2);
}

#applyFilters {
  margin-top: 1.5rem;
  padding: 0.75rem 1rem;
  background-color: var(--PalePink);
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

#applyFilters:hover {
  background-color: var(--SweetPurple);
}

/* Popup Modal */

.recipeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.559);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeModal.hidden {
  display: none;
}

.modalIndhold {
  background: var(--BackgroundWhite);
  padding: 2rem;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  position: relative;
}

.modalIndhold img {
  width: 100%;
  height: auto;
  margin-bottom: var(--smSpacer);
  border-radius: 8px;
}

.lukModal {
  position: absolute;
  top: 0.1rem;
  right: 0.6rem;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

.recipeButton {
  display: inline-block;
  margin: var(--lgSpacer);
  padding: 1rem 4rem;
  background-color: var(--PalePink);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
  transition: transform 0.2s, background-color 0.3s;
}

.recipeButton:hover {
  background-color: var(--SweetPurple);
  transform: scale(1.05);
}
