/* Typografi */

@import url("https://fonts.googleapis.com/css2?family=Oooh+Baby&display=swap");
@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

/* Variables */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

:root {
  --BackgroundWhite: rgba(254, 245, 255, 1);
  --PalePink: rgb(255, 248, 249);
  --FreshMint: rgba(202, 233, 140, 1);
  --SweetPurple: rgba(159, 107, 160, 1);
  --Coral: rgb(249, 214, 204);

  --smSpacer: 15px;
  --stdSpacer: 25px;
  --lgSpacer: 50px;

  --font-size-small: 0.8rem;
  --font-size-normal: 1rem;
  --font-size-large: 1.5rem;
  --font-size-xlarge: 2.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Oooh Baby", sans-serif;
}

h2 {
  color: var(--SweetPurple);
}

p {
  font-family: "EB Garamond", serif;
  line-height: 1.7;
  max-width: 65ch;
}

a {
  font-family: "EB Garamond", serif;
}

body {
  background-color: var(--PalePink);
}

/**********
/* INDEX */
/**********/

/* Header + navbar */

.hero {
  background-image: url(../img/COLOURBOX29693617.jpg);
  width: 100%;
  height: 550px;
  background-position: center;
  background-size: cover;
}

.heroTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Oooh Baby", sans-serif;
  font-size: 8rem;
  color: var(--PalePink);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  z-index: 5;
}

.heroTitle {
  position: relative;
  text-align: center;
}

nav {
  position: absolute;
  top: 0;
  width: 100%;
  padding: var(--smSpacer);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(254, 245, 255, 0.359);
  backdrop-filter: blur(2px);
}

.navbarLogo img {
  height: 80px;
  width: 80px;
}

nav ul {
  list-style-type: none;
}

nav a {
  text-decoration: none;
  justify-content: space-between;
  padding: var(--stdSpacer);
  color: black;
  transition: color 0.3s ease, border-bottom 0.3s ease;
  font-size: 1.5rem;
}

nav li a:hover {
  color: var(--SweetPurple);
  border-bottom: 2px solid var(--SweetPurple);
}

nav a.active {
  font-weight: bold;
}

.søgefelt input {
  font-family: "EB Garamond", serif;
  padding: 0.2rem 1rem;
  font-size: 1.3rem;
  border: 1px solid #520069a4;
  border-radius: 100px;
  width: 220px;
}

.login {
  height: 80px;
  width: 80px;
}

.login a {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(EB Garamond), serif;
  padding: 0px;
}

.login span {
  font-size: 1.5rem;
  margin-top: 3px;
  margin-left: 10px;
}

.login i {
  font-size: 45px;
}

/* Footer */

footer {
  background-color: var(--Coral);
  padding: var(--lgSpacer);
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline;
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

footer a {
  color: black;
}

/* Main */

.intro {
  font-size: var(--font-size-xlarge);
  margin-top: var(--lgSpacer);
  margin-bottom: var(--smSpacer) 0;
  padding-left: var(--lgSpacer);
}
.mainP {
  font-size: var(--font-size-normal);
  padding-left: var(--lgSpacer);
}

.mainH2,
.mainH3 {
  font-size: var(--font-size-large);
  margin-bottom: var(--smSpacer);
  padding-left: var(--lgSpacer);
}

/* Focused Entry Points */

.collectionsEntryPoints {
  display: flex;
  gap: 2.5rem;
  justify-content: center;
  padding: var(--lgSpacer);
  margin-bottom: var(--lgSpacer);
}

.entryBox {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  border-radius: 5px;
  width: 450px;
  transition: transform 0.2s ease;
  background-color: var(--Coral);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
}

.entryBox:hover {
  transform: scale(1.09);
}

.entryBox img {
  width: 100%;
  height: 350px;
  display: block;
  margin: 0 auto;
}

.entryHeader {
  background-color: var(--Coral);
  padding: var(--stdSpacer);
  text-align: center;
  font-family: "Oooh Baby", sans-serif;
  color: black;
  font-size: var(--font-size-large);
  font-weight: 600;
}

.signup {
  display: flex;
  background-color: var(--Coral);
  padding: var(--lgSpacer);
}

.signupText {
  flex: 1;
}

.signupText h2 {
  font-size: var(--font-size-xlarge);
}

.signupButtons {
  display: flex;
  flex-direction: column;
  padding-top: var(--stdSpacer);
  flex: 1;
  gap: 1rem;
  align-items: center;
}

.signupButtons button {
  font-size: var(--font-size-normal);
  font-family: "EB Garamond", serif;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
  transition: all 0.3s ease;
}

.signInButton {
  background-color: var(--FreshMint);
  color: rgb(0, 0, 0);
}

.LoginButton {
  background-color: var(--SweetPurple);
  color: white;
}

.signupButtons button:hover {
  scale: 1.09;
}

/* Slideshow */

.slideshowContainer {
  padding-top: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.slideshowContainer h3 {
  font-size: var(--font-size-xlarge);
  margin-bottom: var(--smSpacer);
  padding-left: var(--lgSpacer);
}

.slideshowWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#slideshow {
  max-width: 100%;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1rem;
  padding: 1rem 0;
  /* Det sørger for, at scroll stopper scrollen automatisk "pænt" ved næste billede i rækken – i stedet for at stoppe midt imellem to. */
  scroll-snap-type: x mandatory;
  /* Sørger for at indholdet bliver på én lang linje */
  white-space: nowrap;
}

.slideshowCard {
  flex: 0 0 300px;
  max-width: 300px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: white;
  scroll-snap-align: start;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
  cursor: pointer;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.slideshowCard:hover {
  transform: scale(1.02);
}

.slideshowCard img {
  width: 100%;
  margin: 0 auto;
}

.slideshowCard h4 {
  font-family: var("EB Garamond"), serif;
  font-size: var(--font-size-large);
  padding: var(--smSpacer);
}

.slideNav {
  display: flex;
  justify-content: center;
  gap: 2rem;
  padding-bottom: var(--lgSpacer);
}

.slideBtn {
  background: none;
  border: none;
  cursor: pointer;
  padding-top: var(--smSpacer);
}

.slideBtn img {
  width: 35px;
  height: auto;
  transition: transform 0.2s ease;
}

.slideBtn:hover img {
  transform: scale(1.2);
}

/******************
/* ALLEOPSKRIFTER */
/*****************/

/* Main */

.allRecipesIntro {
  font-size: var(--font-size-xlarge);
  margin-top: var(--lgSpacer);
  margin-bottom: var(--smSpacer) 0;
  padding-left: var(--lgSpacer);
}

.allRecipesSearch input {
  font-family: "EB Garamond", serif;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border: 1px solid #520069a4;
  border-radius: 100px;
  width: 170px;
}

.allRecipesSearch {
  margin-top: var(--stdSpacer);
  margin-bottom: var(--stdSpacer);
  margin-left: 30px;
}

.listOfRecipes {
  height: 900px;
}

.listOfRecipes article {
  margin-bottom: var(--lgSpacer);
}

.listOfRecipes img {
  display: flex;
}

/**********
/* ALLE SAMLINGER + ALLE OPSKRIFTER */
/**********/

.collectionsTitle {
  font-size: var(--font-size-xlarge);
  margin-top: var(--lgSpacer);
  margin-bottom: var(--smSpacer);
  padding-left: var(--lgSpacer);
  color: var(--SweetPurple);
}

.collectionsIntro {
  padding-left: var(--lgSpacer);
}

.allRecipes {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

.recipeCards {
  margin: var(--lgSpacer);
  padding-top: var(--stdSpacer);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}

.recipe {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  transition: transform 0.2s ease;
}
.recipe:hover {
  transform: scale(1.1);
}

.recipe img {
  display: block;
  object-fit: cover;
  width: 100%;
  aspect-ratio: 4/3;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
  cursor: pointer;
  margin-block: var(--smSpacer);
     
}

.recipe h3 {
  font-size: var(--font-size-large);
}


/* Filterfelt */

.filterBox {
  padding: var(--lgSpacer);
  margin: var(--lgSpacer);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  background-color: var(--Coral);
  height: 1700px;
}

.filterBox h3 {
  font-size: var(--font-size-xlarge);
}

.filterBox h4 {
  font-size: var(--font-size-large);
  padding-top: var(--stdSpacer);
  color: var(--SweetPurple);
  margin-bottom: var(--smSpacer);
}

.filterBox label {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 0.95rem;
  cursor: pointer;
}

.filterBox input[type="checkbox"] {
  margin-right: 0.5rem;
  transform: scale(1.2);
}

/* Popup Modal */

.recipeModal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.629);
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipeModal.hidden {
  display: none;
}

.modalIndhold {
  background: var(--BackgroundWhite);
  padding: var(--smSpacer);
  border-radius: 5px;
  width: 90%;
  max-width: 600px;
  position: relative;
  text-align: left;
}

.modalIndhold img {
  display: block;
  width: 100%;
  height: 250px;
  object-fit: cover;
  margin-bottom: var(--smSpacer);
}

.lukModal {
  position: absolute;
  top: 0.1rem;
  right: 0.6rem;
  font-size: 2rem;
  cursor: pointer;
  color: black;
}

#modalTitel {
  font-family: "Oooh Baby", sans-serif;
  font-size: var(--font-size-xlarge);
}

#modalBeskrivelse {
  font-family: var(EB Garamond), serif;
  font-size: var(--font-size-normal);
  margin-right: var(--lgSpacer);
}

.recipeButton {
  background-color: var(--ButtonColor);
  color: black;
  font-size: 1rem;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}


.modalInfo {
  display: flex;
  justify-content: space-around;
  padding: var(--stdSpacer);
}

.modalInfo span {
  display: flex;
  align-items: flex-start;
  gap: 8px;
}

.modalInfo img {
  width: 20px;
  height: 20px;
  object-fit: contain;
  display: flex;
  align-items: center;
}

/* Knap i popup vinduet */

.recipeButton {
  display: inline-block;
  margin: var(--lgSpacer);
  padding: 1rem 4rem;
  background-color: var(--Coral);
  color: black;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.393);
  transition: transform 0.2s, background-color 0.3s;
  font-weight: 600;
}

.recipeButton:hover {
  background-color: var(--SweetPurple);
  transform: scale(1.05);
}
.allRecipesSearch input {
  font-family: "EB Garamond", serif;
  padding: 0.2rem 1rem;
  font-size: 1rem;
  border: 1px solid #520069a4;
  border-radius: 100px;
  width: 170px;
}

.allRecipesSearch {
  margin-top: var(--stdSpacer);
  margin-bottom: var(--stdSpacer);
  margin-left: 30px;
}

.allRecipesBody {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 2rem;
}


.listOfRecipes {
  height: 900px;
}

.listOfRecipes article {
  margin-bottom: var(--lgSpacer);
}

.listOfRecipes img {
  display: flex;
}

/* Anbefaling article */

.collectionTeaser {
  max-height: 400px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  background-color: var(--Coral);
  margin-bottom: var(--lgSpacer);
}

.collectionTeaser .teaserText {
  flex: 1;
  font-size: var(--font-size-xlarge);
  font-family: "Oooh Baby", sans-serif;
  padding-left: 70px;
}

.collectionTeaser .teaserText a {
  display: inline-block;
  color: black;
  padding-left: var(--lgSpacer);
  text-decoration: none;
  transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.collectionTeaser .teaserText a:hover {
  transform: scale(1.09);
}

.collectionTeaser img {
  width: 100%;
  max-height: 400px;
  margin: 0 auto;
  object-fit: cover;
  display: block;
}


/**********
/* OPSKRIFTTER  */
/**********/

/* BOKS MED INGREDIENSER OG FREMGANGSMÅDE */

.recipeTitel{
  font-size: var(--font-size-xlarge);
  color: var(--SweetPurple);
}
.titelDescription {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  margin-inline: 80px;
  margin-block: var(--lgSpacer);
}

.textGroup {
  display: flex;
  flex-direction: column;
}

.recipeImg {
  max-width: 0 auto;
  height: auto;
}

.recipeBox {
      background-color: var(--Coral);
      gap: 20px;
      display: flex;
      width: 1265px;
      flex-wrap: wrap;
      flex-direction: column;
      margin: 0 auto;
      margin-bottom: var(--lgSpacer);
}

.opskriftInfo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: var(--stdSpacer);
}

.opskriftInfo span {
  display: flex;
  align-items: center;
  gap: 8px;
}

.opskriftInfo img {
  width: 32px;
  height: 32px;
}

.doings {
  display: flex;
  text-align: left;
  justify-content: space-around;
  width: 100%;
  padding: 50px;
}

.instructions {
  margin-bottom: 25px;
}
